<h1><%= params[:page] %></h1>

<section>
  <h2>Views per day</h2>
  <table>
    <% for views in @views_per_day %>
      <tr>
        <td><%= l views.day %></td>
        <td><%= views.total %></td>
      </tr>
    <% end %>
  </table>
</section>

<section>
  <h2>Top referrers</h2>
  <%= render "/active_analytics/referrers/table", referrers: @referrers %>
</section>

<section>
  <h2>Previous Pages</h2>
  <%= render "table", pages: @previous_pages %>
</section>

<section>
  <h2>Next Pages</h2>
  <%= render "table", pages: @next_pages %>
</section>
