<section>
  <h2><%= page_from_params %></h2>
</section>

<section>
  <h3>Views per day</h3>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>

<section>
  <h3>Top referrers</h3>
  <%= render "/active_analytics/referrers/table", referrers: @referrers %>
</section>

<section>
  <h3>Previous Pages</h3>
  <%= render "table", pages: @previous_pages %>
</section>

<section>
  <h3>Next Pages</h3>
  <%= render "table", pages: @next_pages %>
</section>
