<section>
  <h2>
    <%= page_from_params %>
    <%= link_to "", File.join("https://", params[:site], page_from_params), target: "_blank" %>
  </h2>
</section>

<section class="card">
  <%= render "/active_analytics/sites/histogram_header", histogram: @histogram, previous_histogram: @previous_histogram %>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>

<ul class="grid-auto">
  <li class="card">
    <section>
      <h3>Previous page</h3>
      <%= render "table", pages: @previous_pages %>
    </section>
  </li>

  <li class="card">
    <h3>Next page</h3>
    <%= render "table", pages: @next_pages %>
  </li>
</ul>
