<section>
  <h2>Source: <%= params[:referrer] %></h2>
</section>

<section class="card">
  <h3><%= format_view_count @histogram.total %> views</h3>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>
<ul class="grid-auto">
  <li class="card">
    <h3>Source page</h3>
    <%= render "/active_analytics/pages/table", pages: @previous_pages %>
  </li>

  <li class="card">
    <h3>Destination page</h3>
    <%= render "/active_analytics/pages/table", pages: @next_pages %>
  </li>
</ul>
