<footer>
  <p>
    Made in <a href="https://www.basesecrete.com" target="_blank" rel="noopener">Base Secrète</a> | <%= link_to "Source code", "https://github.com/BaseSecrete/active_analytics", target: "_blank", rel: "noopener" %> | <%= link_to "Twitter", "https://twitter.com/base_secrete", target: "_blank", rel: "noopener" %>
  </p>
  
  <div class="card">
    <ul class="grid-auto">
      <li>
        <a href="https://github.com/BaseSecrete/rorvswild" target="_blank" rel="noopener">RoRvsWild</a>
        <p>Ruby on Rails application performances and exceptions monitoring.</p>
      </li>
      <li>
        <a href="https://github.com/BaseSecrete/active_hashcash" target="_blank" rel="noopener">Active Hashcash</a>
        <p>Protect Rails applications against bots and brute force attacks without annoying humans.</p>
      </li>
      <li>
        <a href="https://github.com/BaseSecrete/redis_dashboard" target="_blank" rel="noopener">Redis Dashboard</a>
        <p>Sinatra app to monitor Redis servers.</p>
      </li>
      <li>
        <a href="https://github.com/BaseSecrete/type_scopes" target="_blank" rel="noopener">Type Scopes</a>
        <p>Automatic scopes for ActiveRecord models.</p>
      </li>
      <li>
        <a href="https://github.com/BaseSecrete/teamodoro" target="_blank" rel="noopener">Teamodoro</a>
        <p>Synchronize pomodoros with your coworkers.</p>
      </li>
      <li>
        <a href="https://github.com/BaseSecrete/ariato" target="_blank" rel="noopener">Ariato</a>
        <p>Web UI framework to improve accessibility.</p>
      </li>
    </ul>
  </div>
</footer>

<div role="dialog" hidden="true" id="custom-date-range" aria-labelledby="custom-range-title" aria-modal="true">
  <header id="custom-range-title">Custom range</header>
  <%= form_tag url_for(params.except(:from, :to).to_unsafe_hash), method: "get", id: "dateRangeForm" do %>
    <div role="group" class="is-block">
      <label>From <%= date_field_tag :from, params[:from] %></label>
      <label>To <%= date_field_tag :to, params[:to] %></label>
    </div>
  <% end %>
  <footer>
    <%= submit_tag "Change date range", form: "dateRangeForm" %>
    <button type="reset" onclick="Ariato.Dialog.close(this)">Close</button>
  </footer>
</div>
