<header>
  <nav aria-label="site"> <!-- implicit role="navigation", aria label "site" is announced = "site navigation" -->
    <div role="toolbar" data-ariato="Application.Toolbar">
      <div role="group">
        <%= link_to "Analytics", active_analytics_path, role: "button" %>
        <% if params[:site] %>
          <div class="menubutton">
            <button type="button" id="site-menu-button" aria-haspopup="true" aria-controls="site-menu"><%= params[:site] %></button>
            <ul id="site-menu" role="menu" aria-labelledby="site-menu-button">
              <li role="none">
                <%= link_to "Site", site_path(params[:site]), role: "menuitem", tabindex: -1 %>
              </li>
              <li role="none">
                <%= link_to "Pages", pages_path, role: "menuitem", tabindex: -1 %>
              </li>
              <li role="none">
                <%= link_to "Referrers", referrers_path, role: "menuitem", tabindex: -1 %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>