<header data-ariato="ActiveAnalytics.Header">
  <nav aria-label="site">
    <%= link_to active_analytics_path, class: 'logo' do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11">
        <path class="a" d="M.5,5.5s0,2,1,2,1-2,1-2,0-2,1-2,1,2,1,2,0,2,1,2,1-2,1-2,0-2,1-2,1,2,1,2,0,2,1,2,1-2,1-2"/>
        <circle class="a" cx="5.5" cy="5.5" r="5"/>
        <line class="a" x1="0.5" y1="5.5" x2="10.5" y2="5.5"/>
      </svg>
    <% end %>

    <% if params[:site] %>
      <%= link_to params[:site], site_path(params[:site], from: params[:from], to: params[:to]) %>
      
      <% if controller_name == "pages" %>
        &nbsp;/&nbsp;<%= link_to "pages", pages_path(params[:site], from: params[:from], to: params[:to]) %>
      <% end %>

      <% if controller_name == "referrers" %>
        &nbsp;/&nbsp;<%= link_to "referrers", referrers_path(params[:site], from: params[:from], to: params[:to]) %>
      <% end %>

      <div class="menubutton">
        <button type="button" id="date-range" aria-haspopup="true" aria-controls="date-range-menu">
          <%= l params[:from].to_date, format: :long %>
          <% if params[:to].to_date !=  params[:from].to_date %> → <%= l params[:to].to_date, format: :long %><% end%>
        </button>
        <ul id="date-range-menu" role="menu" aria-labelledby="date-range">
          <li role="none">
            <%= link_to "Today", url_for(params.merge(from: Date.today, to: Date.today).to_unsafe_hash), role: "menuitem", tabindex: "-1" %>
          </li>
          <li role="none">
            <%= link_to "Yesterday", url_for(params.merge(from: Date.yesterday, to: Date.yesterday).to_unsafe_hash), role: "menuitem", tabindex: "-1" %>
          </li>
          <li role="none">
            <%= link_to "Last 7 days", url_for(params.merge(from: 7.days.ago.to_date, to: Date.today).to_unsafe_hash), role: "menuitem", tabindex: "-1" %>
          </li>
          <li role="none">
            <%= link_to "Last 30 days", url_for(params.merge(from: 30.days.ago.to_date, to: Date.today).to_unsafe_hash), role: "menuitem", tabindex: "-1" %>
          </li>
          <li role="none">
            <button type="button" onclick="Ariato.Dialog.open('custom-date-range')"  tabindex="-1" class="is-link">
              Custom range
            </button>
          </li>
        </ul>
      </div>
    <% end %>
  </nav>
</header>