<!DOCTYPE html>
<html class="active-analytics">
  <head>
    <title>Active analytics</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.link rel: "stylesheet", href: asset_path(:ariato, format: :css) %>
    <%= tag.link rel: "stylesheet", href: asset_path(:application, format: :css) %>
    <%= tag.script "", src: asset_path(:ariato, format: :js) %>
    <%= tag.script "", src: asset_path(:application, format: :js) %>
  </head>

  <body>
    <%= render "/layouts/active_analytics/header" %>
    <main aria-label="Content">
      <%= yield %>
    </main>
    <%= render "/layouts/active_analytics/footer" %>
  </body>
</html>
