<!DOCTYPE html>
<html>
<head>
  <title>Active analytics</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "active_analytics/application", media: "all" %>
</head>

<body>
  <%= render "/layouts/active_analytics/header" %>
  <main aria-label="Content">
    <%= yield %>
  </main>
  <%= render "/layouts/active_analytics/aside" %>
  <%= render "/layouts/active_analytics/footer" %>
</body>
</html>
