<section class="card">
  <%= render "/active_analytics/sites/histogram_header", histogram: @histogram, previous_histogram: @previous_histogram %>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>

<ul class="grid-auto">
  <li class="card">
    <h3>Sources <%= link_to "view all", referrers_path(from: params[:from], to: params[:to]) %></h3>
    <%= render "/active_analytics/referrers/table", referrers: @referrers %>
  </li>

  <li class="card">
    <h3>Pages <%= link_to "view all", pages_path(from: params[:from], to: params[:to]) %></h3>
    <%= render "/active_analytics/pages/table", pages: @pages %>
  </li>

  <li class="card">
    <h3>Browsers <%= link_to "view all", browsers_path(from: params[:from], to: params[:to]) %></h3>
    <%= render "/active_analytics/browsers/table", browsers: @browsers %>
  </li>
</ul>
