<section>
  <h3>Views per day</h3>
  <table>
    <% for views in @views_per_day %>
      <tr>
        <td><%= l views.day %></td>
        <td><%= views.total %></td>
      </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Top Pages</h3>
  <%= render "/active_analytics/pages/table", pages: @pages %>
  <%= link_to "More", pages_path, role: "button" %></p>
</section>

<section>
  <h3>Top referrers</h3>
  <%= render "/active_analytics/referrers/table", referrers: @referrers %>
  <%= link_to "More", referrers_path, role: "button" %></p>
</section>